body {
/*    background-color: #dd69dd;*/
}

.wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

.calc-shell {
    background-color: #17eac1;
    width: 500px;
    height: 600px;
    border-radius: 5%;
    border: 3px solid black;
    padding: 30px;
    
/*
    display: grid;
    grid-template-columns: 30px 400px 30px;
    grid-template-rows: 30px 200px 300px 30px;
    grid-gap: 20px;
*/
}

.screen {
    text-align:center;
    width: 100%;
    height: 230px;
    border: 3px solid black;
/*    Why is this wierd?*/
    border-radius: 10%;
    background-color: #97d8cb;
/*
    grid-column: 2/3;
    grid-row: 2/3;
*/
}

.keypad {
    width: 100%;
    height: 340px;
    margin-top: 10px;
/*
    grid-column: 2/3;
    grid-row: 3/4;
*/
}

.input {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
/*    display: grid;*/
/*    grid-template-columns: 50px 250px 150px 50px;*/
/*    grid-template-rows: 300px;*/
}
.numbers {
    grid-column: 1/4;
    display:flex;
    flex-wrap: wrap;
}

.operations {
/*    display: flex;*/
    grid-column: 4/-1;
    display:flex;
    flex-wrap: wrap;
}

.op, 
.equals, 
.num {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 150%;
    height: 60px;
    width: 60px;
    border-radius: 30%;
    margin: 15px;
/*Horzontally align text within its div*/
    text-align: center;
/*Vertically align text within its div*/
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.op {
    border: 3px solid black;
    background-color: dodgerblue;
}
.equals {   
    border: 3px solid black;
    background-color: red;
}
.num {
    border: 3px solid black;
    background-color: yellow;
}
.clear {
    width: 200px;
 /*    Why is this wierd?*/
    border-radius: 30%;
}

;